<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a routerLink="/" class="h1"><b>e-</b>Muhasebe</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Giriş yapmak için bilgilerini doldurun</p>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="input-group mb-3">
            <input
              type="text"
              [validInput]="emailOrUserName.validity.valid"
              #emailOrUserName
              name="emailOrUserName"
              required
              minlength="3"
              ngModel
              class="form-control"
              placeholder="Email adresi yada kullanıcı adı">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div class="invalid-feedback">Kullanıcı adı veya eposta adresi hatalı</div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              [validInput]="password.validity.valid"
              #password
              name="password"
              required
              minlength="6"
              ngModel
              class="form-control"
              placeholder="Şifre">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="invalid-feedback">Şifre hatalı</div>
          </div>
          <div class="row">

            <div class="col-12">
              <app-loading-button
                btnText="Giriş"
                loadingButtonText="Giriş yapılıyor..."
                [form]="loginForm"
                [isloading]="isloading"
              ></app-loading-button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mt-2 mb-3">
         <!--  <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a> -->
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a href="#">Şifremi unuttum</a>
        </p>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->

  </body>
